name: HELP MY LOVE YOUYOU

on:
  push:
    branches:
      - master

env:
  REPO_URL: https://github.com/EvonneH/he-transformer
  REPO_BRANCH: master
  DIY_SH: diy.sh
  FREE_UP_DISK: false
  UPLOAD_BUILDDIR: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo swapoff /swapfile
        sudo rm -rf /swapfile /etc/apt/sources.list.d/*
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install  build-essential asciidoc binutils bzip2 gawk \
            gettext git libncurses5-dev libz-dev patch unzip zlib1g-dev lib32gcc1 \
            libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full \
            msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev \
            autoconf automake libtool autopoint device-tree-compiler python3-pip virtualenv \
            python3-numpy python3-dev python3-wheel git unzip wget bash-completion \
            build-essential cmake  software-properties-common  git wget patch diffutils libtinfo-dev \
            autoconf libtool doxygen graphviz

    - name: Initialization clang-9
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo apt-add-repository "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main"
        sudo apt-get update && sudo apt install -y clang-9 clang-tidy-9 clang-format-9

    - name: For ngraph-tf integration testing
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        pip3 install --upgrade pip setuptools virtualenv==16.1.0

    - name: SEAL requires newer version of CMake
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        pip3 install cmake --upgrade

    - name: Get bazel for ng-tf
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        wget https://github.com/bazelbuild/bazel/releases/download/0.25.2/bazel-0.25.2-installer-linux-x86_64.sh
        chmod +x ./bazel-0.25.2-installer-linux-x86_64.sh
        sudo ./bazel-0.25.2-installer-linux-x86_64.sh


    - name: Clone source code
      run: git clone  $REPO_URL -b $REPO_BRANCH he-transformer

    - name: Make build env 
      id: makebuild
      run: |
        cd he-transformer
        export HE_TRANSFORMER=$(pwd)
        mkdir build
        cd build
        cd $HE_TRANSFORMER/build
        cmake .. -DCMAKE_CXX_COMPILER=clang++-6.0
        echo "::set-output name=status::success"

    - name: Make install
      id: makeinstall
      run: |
        cd he-transformer/build
        make install
        echo "::set-output name=status::success"

    - name: Organize files
      id: organize
      if: env.UPLOAD_BUILDDIR == 'true' && !cancelled()
      run: |
        cd he-transformer/build
        echo "::set-env name=BUILDDIR::$(pwd)"
        echo "::set-output name=status::success"

    - name: Upload build directory
      uses: actions/upload-artifact@master
      if: steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: he-transformer-build
        path: ${{ env.BUILDDIR }}
